/* ---------------------------------------------------------- HTML settings -------------------------------------------*/

html {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
/* ---------------------------------------------------------- HTML settings -------------------------------------------*/
h1 {
  font-size: 3em;
  padding: 10px;
}
h2 {
  font-size: 2.5em;
  padding: 10px;
}
h3 {
  font-size: 2em;
  padding: 10px;
}
h4 {
  font-size: 1.5em;
  padding: 10px;
}
h5 {
  font-size: 1em;
  padding: 10px;
}
h6 {
  font-size: 0.5em;
  padding: 10px;
}
p {
  font-size: 1.3em;
  padding: 10px;
}
/* ---------------------------------------------------------- BODY settings -------------------------------------------*/
body {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}
/* ---------------------------------------------------------- HOME -------------------------------------------*/
#sezionehome {
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  margin-bottom: 0;
  padding-bottom: 0;
}

.logo-image > img {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;

}
/* ---------------------------------------------------------- PRIMA SEZIONE -------------------------------------------*/
#primasezione {
  width: 450px;
  height: auto;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

#primasezione h1 {
  margin-top: 0;
}

.backgroundimageprimasezione {
  background-image: url(/images/banner.jpg);
  width: 450px;
  height: 400px;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.textprimasezione > h1 {
  color: #2e98ca;
}

/* ---------------------------------------------------------- SECONDA SEZIONE -------------------------------------------*/
#secondasezione > h2 {
  color: #2e98ca;
}

/* ---------------------------------------------------------- TEZRA SEZIONE -------------------------------------------*/
#terzasezione > img {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
/* ---------------------------------------------------------- QUARTA SEZIONE -------------------------------------------*/
#quartasezione > h2 {
  color: #2e98ca;
}
/* ---------------------------------------------------------- QUINTA SEZIONE -------------------------------------------*/
#quintasezione {
  background-color: #e63716;
  margin-top: 15%;
  margin-bottom: 8%;
}

.testo {
  color: white;
}
/* ---------------------------------------------------------- SESTA SEZIONE -------------------------------------------*/
#sestasezione {
  padding-top: 5%;
  padding-bottom: 5%;
}
.imgtextbox1 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #ececec;
}
.box1 > img {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.textbox1 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.textbox1 h2 {
  color: #2e98ca;
}
/* ---------------------------------------------------------- SETTIMA SEZIONE -------------------------------------------*/
#settimasezione {
  padding-top: 5%;
  padding-bottom: 5%;
}
.imgtextbox2 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #ececec;
}
.box2 > img {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.textbox2 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.textbox2 h2 {
  color: #2e98ca;
}
/* ---------------------------------------------------------- OTTAVA SEZIONE -------------------------------------------*/
#ottavasezione {
  padding-top: 5%;
  padding-bottom: 18%;
}
.imgtextbox3 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #ececec;
}
.box3 > img {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.textbox3 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.textbox3 h2 {
  color: #2e98ca;
}
/* ---------------------------------------------------------- FOOTER -------------------------------------------*/
footer {
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: #2babca;
  color: white;
}

i.fa-square-phone-flip {
  color: white;
}

i.fa-solid {
  color: white;
}

.footerline {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: white;
}
