body {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}

#sezionehome {
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.logo-image > img {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#primasezione {
  padding-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

#primasezione > img {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

#secondasezione > h2 {
  color: #2e98ca;
}

#terzasezione > img {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

#quartasezione > h2 {
  color: #2e98ca;
}

#quintasezione {
  background-color: #e63716;
}

.testo {
  color: white;
}

#sestasezione {
  padding-top: 5%;
  padding-bottom: 5%;
}
.imgtextbox1 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #ececec;
  
}
.box1 > img{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.textbox1 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.textbox1 h2 {
  color: #2e98ca;
}

#settimasezione {
  padding-top: 5%;
  padding-bottom: 5%;
}
.imgtextbox2 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #ececec;
  
}
.box2 > img{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.textbox2 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.textbox2 h2 {
  color: #2e98ca;
}

footer {
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: #2babca;
  color: white;
}

i.fa-square-phone-flip {
  color: white;
}

i.fa-solid {
  color: white;
}

.footerline {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: white;
}
